//.main-table {
//  margin-top: 10px;
//  margin-bottom: 0;
//}
//
//.main-table label {
//  margin-bottom: 0;
//}
//
//
//.main-table td, .main-table th {
//  white-space: nowrap;
//}
//
//.main-table tr td:first-child, .main-table tr th:first-child {
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//  background: white;
//  width: 250px;
//  max-width: 250px;
//  min-width: 250px;
//}

.avatar {
  width: 200px;
}

.picture {
  text-align: center;
  margin-bottom: 20px;
}

