<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span>Фильтр</span>
            </nb-card-header>

            <nb-card-body>
                <div class="row">
                    <div class="col-3">
                        <label>Год:</label>
                        <p-dropdown [style]="{'width':'100%'}"
                                    [options]="periods"
                                    [ngModel]="selectedPeriod"
                                    (ngModelChange)="selectPeriod($event)"
                                    placeholder="Выберите год..."
                                    optionLabel="year"
                                    [autoWidth]="false"
                                    appendTo="body">
                        </p-dropdown>
                    </div>
                    <div class="col-3">
                        <div *ngIf="departments.length > 0">
                            <label>Подразделение:</label>
                            <p-dropdown [style]="{'width':'100%'}"
                                        [options]="departments"
                                        [ngModel]="selectedDepartment"
                                        (ngModelChange)="selectDepartment($event)"
                                        filter="true"
                                        placeholder="Выберите подразделение..."
                                        optionLabel="abbreviatedName"
                                        [autoWidth]="false"
                                        appendTo="body">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-6">
                        <div *ngIf="employees.length > 0">
                            <label>Сотрудник:</label>
                            <p-dropdown [style]="{'width':'100%'}"
                                        [options]="employees"
                                        [ngModel]="selectedEmployee"
                                        (ngModelChange)="selectEmployee($event)"
                                        filter="true"
                                        placeholder="Выберите сотрудника..."
                                        optionLabel="initials"
                                        [autoWidth]="false"
                                        appendTo="body">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12" *ngIf="selectedEmployee && selectedPeriod">
        <div class="row">
            <div class="col-3" *ngIf="currentBalance">
                <form (ngSubmit)="submitBalanceForm()" [formGroup]="formBalance">
                <nb-card>
                    <nb-card-header>
                        <span>Карточка сотрудника</span>
                    </nb-card-header>

                    <nb-card-body>

                        <div class="row">
                            <div class="col-12 col-md-12 picture">
                                <img class="avatar" src="{{ getPhotoSelectedEmployee()}}" alt="аватар">
                            </div>
                        </div>

                        <br/>
                        <br/>


                        <div class="row">
                            <div class="col-12" *ngIf="canReadBalance()">
                                <div class="form-group">
                                    <label for="prevYearBalance">Остаток на предыдущий год</label>
                                    <div class="input-group">
                                        <input type="text" id="prevYearBalance"
                                               formControlName="prevYearBalance"
                                               class="form-control" value="{{ currentBalance.prevYearBalance }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="currentYearBalance">Остаток на текущий год</label>
                                    <div class="input-group">
                                        <input type="text" id="currentYearBalance"
                                               formControlName="currentYearBalance"
                                               class="form-control" value="{{ currentBalance.currentYearBalance }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nextYearBalance">Остаток на будущий год</label>
                                    <div class="input-group">
                                        <input type="text" id="nextYearBalance"
                                               formControlName="nextYearBalance"
                                               class="form-control" value="{{ currentBalance.nextYearBalance }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="post">Должность</label>
                                    <div class="input-group">
                                        <input type="text" id="post"
                                               disabled
                                               class="form-control" value="{{ selectedEmployee.post.name }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="type-work">Вид работы</label>
                                    <div class="input-group">
                                        <input type="text" id="type-work"
                                               disabled
                                               class="form-control" value="{{ selectedEmployee.typeWork?.name }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <nb-checkbox disabled [value]="selectedEmployee.harmfulness">
                                        Вредность работы
                                    </nb-checkbox>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>

                    <nb-card-footer *ngIf="canWriteBalance()">
                        <button type="submit" class="btn btn-primary" [disabled]="formBalance.invalid">
                            Сохранить
                        </button>
                    </nb-card-footer>
                </nb-card>
                </form>
            </div>

            <div class="col-9">
                <nb-card>
                    <nb-card-header>
                        <span>Задать отпуск</span>
                    </nb-card-header>

                    <nb-card-body>
                        <ngx-loading [show]="loadingVacation"></ngx-loading>

                        <nb-alert *ngIf="isClosed(selectedPeriod)" status="danger">
                            Период на {{selectedPeriod.year}}г. закрыт!
                        </nb-alert>

                        <nb-alert *ngIf="!isClosed(selectedPeriod) && selectedEmployee.harmfulness" status="warning" [closable]="true">
                            Сотрудник имеет вредность, поэтому остаток дней может быть не точным
                        </nb-alert>

                        <custom-table #customTable [columns]="columns" [source]="source"
                                      (delete)="delete($event)" (create)="create($event)" (edit)="edit($event)">
                        </custom-table>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>