<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span>Фильтр</span>
            </nb-card-header>

            <nb-card-body>
                <div class="row">
                    <div class="col-3">
                        <label>Год:</label>
                        <p-dropdown [style]="{'width':'100%'}"
                                    [options]="periods"
                                    [ngModel]="selectedPeriod"
                                    (ngModelChange)="selectPeriod($event)"
                                    placeholder="Выберите год..."
                                    optionLabel="year"
                                    [autoWidth]="false"
                                    appendTo="body">
                        </p-dropdown>
                    </div>
                    <div class="col-3">
                        <div *ngIf="departments.length > 0">
                            <label>Подразделение:</label>
                            <p-dropdown [style]="{'width':'100%'}"
                                        [options]="departments"
                                        [ngModel]="selectedDepartment"
                                        (ngModelChange)="selectDepartment($event)"
                                        placeholder="Выберите подразделение..."
                                        optionLabel="abbreviatedName"
                                        [autoWidth]="false"
                                        appendTo="body">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-6">
                        <div *ngIf="employees.length > 0">
                            <label>Сотрудник:</label>
                            <p-dropdown [style]="{'width':'100%'}"
                                        [options]="employees"
                                        [ngModel]="selectedEmployee"
                                        (ngModelChange)="selectEmployee($event)"
                                        placeholder="Выберите сотрудника..."
                                        optionLabel="initials"
                                        [autoWidth]="false"
                                        appendTo="body">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12" *ngIf="selectedEmployee && selectedPeriod">
        <nb-card>
            <nb-card-header>
                <span>Задать отпуск</span>
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="loadingVacation"></ngx-loading>

                <div *ngIf="isClosed(selectedPeriod)">
                    <p-message severity="error" text="Период на {{selectedPeriod.year}}г. закрыт!"></p-message>

                    <custom-table *ngIf="currentAccount && !currentAccount.accessVacationAdmin"
                            #customTable [columns]="columns" [source]="source"
                                  [actionExternal]="false"
                                  [actionAdd]="false" [actionDelete]="false" [actionEdit]="false">
                    </custom-table>

                    <custom-table *ngIf="currentAccount && currentAccount.accessVacationAdmin"
                            #customTable [columns]="columns" [source]="source" [actions]="actions"
                                  [actionExternal]="false"
                                  [actionAdd]="true" [actionDelete]="true" [actionEdit]="true"
                                  (delete)="delete($event)" (create)="create($event)" (edit)="edit($event)">
                    </custom-table>
                </div>

                <div *ngIf="!isClosed(selectedPeriod)">
                    <custom-table #customTable [columns]="columns" [source]="source" [actions]="actions"
                                  [actionExternal]="false"
                                  [actionAdd]="true" [actionDelete]="true" [actionEdit]="true"
                                  (delete)="delete($event)" (create)="create($event)" (edit)="edit($event)">
                    </custom-table>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>