%spinner {
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: auto;
}

.spinner-small {
  @extend %spinner;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
}

.spinner-medium {
  @extend %spinner;
  border: 11px solid #f3f3f3;
  border-top: 11px solid #3498db;
  width: 70px;
  height: 70px;
}

.spinner-large {
  @extend %spinner;
  border: 15px solid #f3f3f3;
  border-top: 15px solid #3498db;
  width: 140px;
  height: 140px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}