.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;

}

.tab{

    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #0099FF;

}

.tab-pane .tab:selected
{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-text-fill: linear-gradient(#ff5400, #be1d00);
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    //-fx-background-radius: 30;
    //-fx-background-insets: 0;
    //-fx-text-fill: white;
    //-fx-font-weight: bold;
    //-fx-font-size: 2em;
}

.tab .tab-label {
    //-fx-background-color: #0099FF;
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}