<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-tabset fullWidth>
                <nb-tab tabTitle="Аккаунт">
                    <div *ngIf="serverErrorForChangeAccount" class="alert alert-danger" role="alert">
                        <div><strong>Ошибка!</strong></div>
                        <div>{{ serverErrorForChangeAccount.message }}</div>
                    </div>

                    <div *ngIf="successChangeAccount" class="alert alert-success" role="alert">
                        <div><strong>Успешное изменение!</strong></div>
                        <div *ngIf="needLogout">Сейчас будет выход из системы...</div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-12 picture" *ngIf="currentAccount?.avatarUrl">
                            <img src="{{ currentAccount?.avatarUrl }}" alt="аватар">
                        </div>

                        <div class="col-12 col-md-12 picture" *ngIf="!currentAccount?.avatarUrl && currentEmployee?.photo">
                            <img src="{{ currentEmployee?.photo }}" alt="аватар">
                        </div>
                        <!--<div class="col-12">-->
                            <!--<div class="form-group">-->
                                <!--<label for="login">Аватар</label>-->
                                <!--<div class="input-group">-->
                                    <!--<input type="file"  accept="image/*" class="form-control" placeholder="Загрузить фото" (change)="selectImage($event)">-->
                                    <!--<span class="input-group-append">-->
                                    <!--<button class="btn btn-warning input-group-text">-->
                                      <!--Загрузить-->
                                    <!--</button>-->
                                  <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>


                    <form (ngSubmit)="submitAccountForm()" [formGroup]="formAccount">
                        <div class="row">
                            <!--First column-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="login">Логин</label>
                                    <div class="input-group has-user-icon">
                                        <input type="text" id="login" formControlName="login"
                                               class="form-control" value="{{ currentAccount?.username }}">
                                    </div>
                                </div>
                            </div>

                            <!--Second column-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div class="input-group has-email-icon">
                                        <input type="text" id="email" formControlName="email"
                                               class="form-control" value="{{ currentAccount?.email }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="chatName">Имя в чате</label>
                                    <div class="input-group has-smile-icon">
                                        <input type="text" id="chatName" formControlName="chatName"
                                               class="form-control" value="{{ currentAccount?.chatName }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="inner-title">Доступы</h5>

                        <div class="row">
                            <div class="col-md-4">
                                <nb-checkbox disabled [value]="currentAccount?.accessUser">Доступ в систему
                                </nb-checkbox>
                                <nb-checkbox disabled [value]="currentAccount?.accessOit">Администратор системы
                                </nb-checkbox>
                            </div>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-outline-primary" (click)="openChangePasswordModal(content)">
                                Изменить пароль
                            </button>

                            <button type="submit" class="btn btn-primary" [disabled]="formAccount.invalid">
                                Сохранить
                            </button>
                        </div>

                    </form>
                </nb-tab>
                <nb-tab *ngIf="currentAccount?.employeeId !== undefined && currentEmployee" tabTitle="Сотрудник">

                    <div class="row">
                        <div class="col-12 col-md-12 picture">
                            <img src="{{ currentEmployee?.photo }}" alt="аватар">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="secondName">Фамилия</label>
                                <div class="input-group">
                                    <input type="text" disabled id="secondName" class="form-control" value="{{ currentEmployee?.secondName }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">Имя</label>
                                <div class="input-group">
                                    <input type="text" disabled id="firstName" class="form-control" value="{{ currentEmployee?.firstName }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="thirdName">Отчество</label>
                                <div class="input-group">
                                    <input type="text" disabled id="thirdName" class="form-control" value="{{ currentEmployee?.thirdName }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="personnelNumber">Табельный номер</label>
                                <div class="input-group">
                                    <input type="text" disabled id="personnelNumber" class="form-control" value="{{ currentEmployee?.personnelNumber }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthday">Дата рождения</label>
                                <div class="input-group">
                                    <input type="text" disabled id="birthday" class="form-control" value="{{ currentEmployee?.birthday | date: 'dd.MM.yyyy' }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="workPhoneNumber">Рабочий номер телефона</label>
                                <div class="input-group">
                                    <input type="text" disabled id="workPhoneNumber" class="form-control" value="{{ currentEmployee?.workPhoneNumber }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="homePhoneNumber">Домашний номер телефона</label>
                                <div class="input-group">
                                    <input type="text" disabled id="homePhoneNumber" class="form-control" value="{{ currentEmployee?.homePhoneNumber }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="post">Должность</label>
                                <div class="input-group">
                                    <input type="text" disabled id="post" class="form-control" value="{{ currentEmployee?.post.name }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="department">Подразделение</label>
                                <div class="input-group">
                                    <input type="text" disabled id="department" class="form-control" value="{{ currentEmployee?.department.name }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" disabled>
                            Сохранить
                        </button>
                    </div>
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Смена пароля</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="submitUpdatePassword()" [formGroup]="changePassForm">
        <div class="modal-body">
            <div *ngIf="serverErrorForChangePassword" class="alert alert-danger" role="alert">
                <div><strong>Ошибка!</strong></div>
                <div>{{ serverErrorForChangePassword.message }}</div>
            </div>

            <div *ngIf="successChangePassword" class="alert alert-success" role="alert">
                <div><strong>Успешное изменение!</strong></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="oldPasswordInput">Старый пароль</label>
                        <div class="input-group has-password-icon">
                            <input type="password" id="oldPasswordInput" formControlName="oldPassword"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="newPasswordInput">Новый пароль</label>
                        <div class="input-group has-password-icon">
                            <input type="password" id="newPasswordInput" formControlName="newPassword"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="confirmPasswordInput">Подтверждение пароля</label>
                        <div class="input-group has-password-icon">
                            <input type="password" id="confirmPasswordInput" formControlName="confirmPassword"
                                   class="form-control"
                                   [ngClass]="{'form-control-danger': changePassForm.get('confirmPassword').touched &&
                                   changePassForm.errors &&
                                   changePassForm.errors['mismatch'] !== undefined}">
                        </div>
                        <small class="form-text error" *ngIf="changePassForm.get('confirmPassword').touched &&
                        changePassForm.errors &&
                        changePassForm.errors['mismatch'] !== undefined">
                            Пароли не совпадают!
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-hero-success" [disabled]="changePassForm.invalid">Изменить</button>
        </div>
    </form>
</ng-template>
