@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
//@import '~@fortawesome/fontawesome-free/scss/_variables';
@import '~@nebular/theme/styles/global/breakpoints';

@mixin input-field-icon($content-icon, $padding-text) {
  position: relative;

  .form-control {
    padding-left: $padding-text;
  }

  &::before {
    content: $content-icon;
    font-family: 'FontAwesome';
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    left: 1rem;
    //top: 0.25rem;
  }
}

@include nb-install-component() {
  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab {
    padding: nb-theme(padding);
  }

  .input-group.has-user-icon {
    @include input-field-icon('$fa-var-user', 3.5rem);
  }

  .input-group.has-email-icon {
    @include input-field-icon('$fa-var-envelope', 3.5rem);
  }

  .input-group.has-smile-icon {
    @include input-field-icon('$fa-var-smile', 3.5rem);
  }

  .input-group.has-password-icon {
    @include input-field-icon('$fa-var-lock', 3.5rem);
  }

  .inner-title {
    margin: 1.5rem;
  }

  .picture {
    text-align: center;
    margin-bottom: 20px;
    //width: 200px;
    height: 300px;
  }

  .picture img {
    width: auto;
    height: 100%;
  }

  @include media-breakpoint-down(xs) {
    nb-tabset ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }
}