<?xml version="1.0" encoding="UTF-8"?>


<configuration scan="true"> 
<!-- <configuration  debug="true">  -->    

  <!-- ===================================================
   Указываем аппендеры - куда добавлять лог-сообщения ====
   ==================================================== -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <!-- Шаблон лог-сообщений -->
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread]  %-5level %logger{5}.%method - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- Аппендер для записи в файл  -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>Logs/${HOSTNAME}/AERDesktopManager-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>

    <encoder>
        <pattern>${HOSTNAME} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>
  <!-- ====================================================== 
  ===========================================================-->  


 <!-- ===================================================
   Указываем логеры =========================================
   ==================================================== -->
  <!-- Уровень лога для конкретного класса -->
  <logger name="ru.kolaer.GUI" level="INFO" additivity="false">
  	<!-- Добавляем аппендеры  -->
		<appender-ref ref="STDOUT" />
   		<appender-ref ref="FILE" /> 

  </logger>

<!-- Уровень лога ОБЩИЙ - переопределяет уровень для классов -->
  <root level="INFO">
	<!-- Добавляем аппендеры  -->                
		<appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
  </root>  
  
</configuration>

<!-- log levels TRACE DEBUG INFO WARN ERROR FATAL OFF -->

