<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Сотрудники
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="employeesLoading"></ngx-loading>

                <custom-table #employeeTable
                              [columns]="employeesColumns"
                              [source]="employeesSource"
                              [actions]="employeeActions"
                              [actionAdd]="false"
                              [actionDelete]="false"
                              [actionEdit]="false"
                              (action)="employeesAction($event)">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>