<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span>Воинский учёт</span>
            </nb-card-header>

            <nb-card-body>
                <form>
                    <div class="form-group row">
                        <label for="rank" class="col-sm-3 right-label">Воинское звание:</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="rank" value="Сержант (старшина 1-й статьи)">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="status_by" class="col-sm-3 right-label">Годн./ВС:</label>
                        <div class="col-sm-9">
                            <input type="text" disabled class="form-control" id="status_by" value="Годен к военной службе">
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>