@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~font-awesome/scss/_variables';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

}

