/*
/src/main/webapp/asciidoc/
/src/main/resources/app.properties
/src/main/resources/database.properties
/src/main/resources/bank_account.xlsx
/src/main/resources/ldap.properties
/src/main/resources/mail.properties
/src/main/resources/test_database.properties
/src/main/resources/origin_database.properties
/src/main/resources/common.properties
/src/main/resources/origin_common.properties
/src/main/resources/calendar.xml
/src/main/resources/application-dev.yaml
!build.gradle
!settings.gradle
!/pom.xml
!/src/
!*.md
!.gitignore