input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

.btn-group-toggle>.btn input[type=checkbox],
.btn-group-toggle>.btn input[type=radio],
.btn-group-toggle>.btn-group>.btn input[type=checkbox],
.btn-group-toggle>.btn-group>.btn input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none
}

[type=checkbox],
[type=radio] {
  position: absolute;
  left: -9999px;
  visibility: hidden
}

[type=checkbox]+label,
[type=radio]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.streak {
  display: block;
  position: relative;
  overflow: hidden;
  height: 250px
}

.streak.streak-md {
  height: 400px
}

@media (max-width:736px) {
  .streak.streak-md {
    height: 300px
  }
}

.streak.streak-lg {
  height: 650px
}

@media (max-width:450px) {
  .streak.streak-lg {
    height: 900px
  }
}

.streak.streak-long {
  height: 200px
}

@media (max-width:450px) {
  .streak.streak-long {
    height: 620px
  }
}

.streak.streak-long-2 {
  height: 400px
}

@media (max-width:450px) {
  .streak.streak-long-2 {
    height: 700px
  }
}

.streak.streak-photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

@media (min-width:1366px) {
  .streak.streak-photo {
    background-attachment: fixed
  }
}

.streak.no-flex {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  height: auto
}

.purple-gradient {
  background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5);
  background: linear-gradient(40deg, #ff6ec4, #7873f5)
}

.peach-gradient {
  background: -webkit-linear-gradient(50deg, #ffd86f, #fc6262);
  background: linear-gradient(40deg, #ffd86f, #fc6262)
}

.aqua-gradient {
  background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3);
  background: linear-gradient(40deg, #2096ff, #05ffa3)
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #303f9f)
}

[type=radio]+label {
  -webkit-transition: .28s ease;
  transition: .28s ease
}

[type=radio]+label:after,
[type=radio]+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: .28s ease;
  transition: .28s ease
}

[type=radio]:not(:checked)+label:after,
[type=radio]:not(:checked)+label:before {
  border-color: #5a5a5a
}

[type=radio]:not(:checked)+label:after {
  z-index: -1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0)
}

[type=radio]:checked+label:before {
  border-color: transparent
}

[type=radio]:checked+label:after {
  border-color: #4285f4;
  background-color: #4285f4;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02)
}

[type=radio]:disabled+label {
  color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled+label:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:not(:checked)+label:before {
  border-color: rgba(0, 0, 0, .46)
}

[type=radio]:disabled:checked+label:after {
  background-color: rgba(0, 0, 0, .46);
  border-color: #bdbdbd
}

[type=radio].with-gap:checked+label:before {
  border-color: #4285f4
}

[type=radio].with-gap:checked+label:after {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5)
}

[type=radio].with-gap:checked:disabled+label:before {
  border-color: rgba(0, 0, 0, .46)
}

[type=checkbox]+label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s
}

[type=checkbox]:checked+label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #4285f4 #4285f4 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type=checkbox]:indeterminate+label:before {
  left: -10px;
  top: -11px;
  width: 10px;
  height: 22px;
  border: none;
  border-right: 2px solid #4285f4;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type=checkbox]:disabled:checked+label:before {
  border-color: transparent rgba(0, 0, 0, .46) rgba(0, 0, 0, .46) transparent
}

[type=checkbox]:disabled:not(:checked)+label:before {
  border: none;
  margin-left: 2px;
  margin-top: 2px;
  background-color: rgba(0, 0, 0, .46)
}

[type=checkbox]:disabled:indeterminate+label:before {
  border-right: 2px solid rgba(0, 0, 0, .46);
  margin-left: 0;
  margin-top: 0;
  background-color: transparent
}

[type=checkbox][class*=filled-in]+label:after,
[type=checkbox][class*=filled-in]+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  z-index: 1;
  border-style: solid;
  border-width: 2px
}

[type=checkbox][class*=filled-in]+label:after {
  border-radius: 2px;
  height: 20px;
  width: 20px
}

[type=checkbox][class*=filled-in]+label:before {
  -webkit-transform: rotateZ(37deg);
  -ms-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

[type=checkbox][class*=filled-in]:not(:checked)+label:before {
  width: 0;
  height: 0;
  border-style: 3px;
  border-color: transparent;
  left: 6px;
  top: 10px
}

[type=checkbox][class*=filled-in]:not(:checked)+label:after {
  background-color: transparent;
  border-color: #5a5a5a;
  top: 0;
  z-index: 0
}

[type=checkbox][class*=filled-in]:checked+label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-color: transparent #fff #fff transparent
}

[type=checkbox][class*=filled-in]:checked+label:after {
  border-color: #a6c;
  background-color: #a6c;
  z-index: 0
}

[type=checkbox][class*=filled-in]:disabled:not(:checked)+label:before {
  background-color: transparent;
  border-color: #bdbdbd
}

[type=checkbox][class*=filled-in]:disabled:not(:checked)+label:after {
  border-color: transparent;
  background-color: #bdbdbd
}

[type=checkbox][class*=filled-in]:disabled:checked+label:before {
  background-color: transparent
}

[type=checkbox][class*=filled-in]:disabled:checked+label:after {
  background-color: #bdbdbd;
  border-color: #bdbdbd
}

[type=checkbox].filled-in-danger:checked+label:after {
  background-color: red;
  border-color: red
}

.select-wrapper .select-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

.select-label {
  position: absolute
}

.select-wrapper {
  position: relative
}

.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bdbdbd;
  outline: 0;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  display: block
}

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, .3);
  border-bottom-color: rgba(0, 0, 0, .3);
  cursor: default
}

.select-wrapper .search-wrap {
  padding: 1rem 0;
  width: 93%;
  display: block;
  margin: 0 auto
}

.select-wrapper .search-wrap input {
  padding-bottom: .4rem
}

.select-wrapper span.caret {
  color: initial;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 10px
}

.select-wrapper span.caret.disabled {
  color: rgba(0, 0, 0, .46)
}

.select-wrapper+label {
  position: absolute;
  top: -14px;
  font-size: .8rem
}

.select-wrapper i {
  color: rgba(0, 0, 0, .3)
}

.select-wrapper ul {
  list-style-type: none;
  padding-left: 0
}

select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none!important
}

select.browser-default {
  display: block!important
}

select:disabled {
  color: rgba(0, 0, 0, .3)
}

.select-dropdown ul {
  list-style-type: none;
  padding: 0
}

.select-dropdown li img {
  height: 30px;
  width: 30px;
  margin: 3px 12px;
  float: right
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
  color: rgba(0, 0, 0, .3);
  background-color: transparent!important;
  cursor: context-menu
}

.select-dropdown li.optgroup {
  border-top: 1px solid #eee
}

.select-dropdown li.optgroup.selected>span {
  color: rgba(0, 0, 0, .7)
}

.select-dropdown li.optgroup>span {
  color: rgba(0, 0, 0, .4)
}

.multiple-select-dropdown li [type=checkbox]+label {
  height: 10px
}

.switch,
.switch * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none
}

.switch label {
  cursor: pointer
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #dccfe2
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #a6c;
  left: 24px
}

.switch label input[type=checkbox]:checked:not(:disabled)~.lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4), 0 0 0 15px rgba(170, 102, 204, .1)
}

.switch label input[type=checkbox]:not(:disabled)~.lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4), 0 0 0 15px rgba(0, 0, 0, .08)
}

.switch label input[type=checkbox]:disabled+.lever {
  cursor: default
}

.switch label input[type=checkbox]:disabled+.lever:after,
.switch label input[type=checkbox]:disabled:checked+.lever:after {
  background-color: #bdbdbd
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #f1f1f1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4);
  left: -5px;
  top: -3px;
  -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease
}