<div class="container">
    <spinner [show]="loadCurrentAccount" [medium]="true"></spinner>
    <div class="row" *ngIf="!loadCurrentAccount">
        <div class="col-md-6" [ngClass]="{'col-md-6': currentAccount?.employee !== undefined && currentAccount?.employee.id !== null,
        'col-md-12': currentAccount?.employee === undefined || currentAccount?.employee.id === null}">
            <div class="card-padding">
                <div class="card">
                    <h3 class="card-header primary-color white-text">Аккаунт</h3>

                    <div class="card-body">
                        <h4 class="card-title">Общая информация</h4>

                        <ul class="list-group loginErrorMessage" *ngIf="serverError != undefined">
                            <li class="list-group-item list-group-item-danger"> {{ serverError?.message }}</li>
                        </ul>

                        <br/>

                        <form (ngSubmit)="submitAccountForm()" [formGroup]="accountForm">
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-user prefix"></i>
                                        <input mdbActive type="text" id="login" formControlName="login"
                                               class="form-control" value="{{ currentAccount?.username }}">
                                        <label for="login">Логин</label>
                                    </div>
                                </div>

                                <!--Second column-->
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input mdbActive type="text" id="email" formControlName="email"
                                               class="form-control" value="{{ currentAccount?.email }}">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <i class="fa fa-smile-o prefix"></i>
                                        <input mdbActive type="text" id="chatName" formControlName="chatName"
                                               class="form-control" value="{{ currentAccount?.chatName }}">
                                        <label for="chatName">Имя в чате</label>
                                    </div>
                                </div>
                            </div>

                            <h4 class="card-title">Доступы</h4>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input mdbDeepDirective type="checkbox" disabled class="filled-in"
                                               [checked]="currentAccount?.accessUser" id="checkbox1">
                                        <label for="checkbox1">Доступ в систему</label>
                                    </div>
                                    <div class="form-group">
                                        <input mdbDeepDirective type="checkbox" disabled class="filled-in"
                                               [checked]="currentAccount?.accessOit" id="checkbox2">
                                        <label for="checkbox2">Администратор системы</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-6">
                                    <div class="text-right">
                                        <button class="btn btn-secondary waves-light" (click)="changePasswordModal.show()" mdbRippleRadius>
                                            Изменить пароль
                                        </button>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary waves-light" mdbRippleRadius [disabled]="accountForm.invalid">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" *ngIf="currentAccount?.employee !== undefined && currentAccount?.employee.id !== null ">
            <div class="card-padding">
                <div class="card">
                    <h3 class="card-header primary-color white-text">Сотрудник</h3>

                    <div class="card-body">
                        <h4 class="card-title">Общая информация</h4>
                        <!--Card image-->
                        <img class="mx-auto d-block" src="{{ currentAccount?.employee.photo }}"
                             alt="{{ currentAccount?.employee?.initials }}" style="margin-bottom: 20px;">

                        <div class="row">
                            <!--First column-->
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input mdbActive type="text" id="secondName" disabled class="form-control"
                                           value="{{ currentAccount?.employee?.secondName }}">
                                    <label for="secondName">Фамилия</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form">
                                    <input mdbActive type="text" id="firstName" disabled class="form-control"
                                           value="{{ currentAccount?.employee.firstName }}">
                                    <label for="firstName">Имя</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form">
                                    <input mdbActive type="text" id="thirdName" disabled class="form-control"
                                           value="{{ currentAccount?.employee.thirdName }}">
                                    <label for="thirdName">Отчество</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input mdbActive type="text" id="personnelNumber" disabled class="form-control"
                                           value="{{ currentAccount?.employee?.personnelNumber }}">
                                    <label for="personnelNumber">Табельный нормер</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="md-form">
                                    <input mdbActive type="text" id="birthday" disabled class="form-control"
                                           value="{{ currentAccount?.employee?.birthday }}">
                                    <label for="birthday">Дата рождения</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <input mdbActive type="text" id="workPhoneNumber" class="form-control"
                                           value="{{ currentAccount?.employee?.workPhoneNumber }}">
                                    <label for="workPhoneNumber">Рабочий номер телефона</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="md-form">
                                    <input mdbActive type="text" id="homePhoneNumber" class="form-control"
                                           value="{{ currentAccount?.employee?.homePhoneNumber }}">
                                    <label for="homePhoneNumber">Домашний номер телефона</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input mdbActive type="text" id="postName" disabled class="form-control"
                                           value="{{ currentAccount?.employee?.post.name }}">
                                    <label for="postName">Должность</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input mdbActive type="text" id="departmentName" disabled class="form-control"
                                           value="{{ currentAccount?.employee?.department.name }}">
                                    <label for="departmentName">Цех/Отдел</label>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Сохранить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal: Change Pass Form-->
<div mdbModal #changePasswordModal="mdb-modal" class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="Изменить пароль" aria-hidden="true">
    <div class="modal-dialog cascading-modal">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue lighten-2 white-text">
                <h4 class="title"><i class="fa fa-user"></i> Изменение пароля</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="changePasswordModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Body-->
            <form (ngSubmit)="sibmitUpdatePassword()" [formGroup]="changePassForm">
                <div class="modal-body">

                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <input mdbActive id="oldPasswordInput" type="password" class="form-control" formControlName="oldPassword">
                        <label for="oldPasswordInput">Старый пароль</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <input mdbActive id="newPasswordInput" type="password" class="form-control" formControlName="newPassword">
                        <label for="newPasswordInput">Новый пароль</label>
                    </div>

                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-info waves-light" mdbRippleRadius [disabled]="changePassForm.invalid">
                            Изменить
                            <i class="fa fa-sign-in ml-1"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Change Pass Form-->

<div mdbModal #successModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Пароль изменился</p>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Пароль успешно изменен и будет произведен выход из системы.</p>
                </div>
            </div>
        </div>
    </div>
</div>