<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Сотрудники
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="departmentsLoading"></ngx-loading>
                <custom-table #departmentsTable
                              [columns]="departmentsColumns"
                              [source]="departmentsSource"
                              (edit)="departmentsEdit($event)"
                              (delete)="departmentsDelete($event)"
                              (create)="departmentsCreate($event)">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>