@import "../../../variables";

.container-bottom-navbar {
  margin-top: $navbar-height;
  width: 100%;
  //min-height: calc(100vh - 70px);
  margin-left: $sidebar-width;
}

@media (min-width: 768px) {
  .equal {
    display: flex;
    flex-wrap: wrap;
  }
}