<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Сотрудники
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="employeesLoading"></ngx-loading>
                <custom-table *ngIf="currentAccount && (currentAccount.accessOk || currentAccount.accessOit)"
                        #employeeTable
                              [columns]="employeesColumns"
                              [source]="employeesSource"
                              [actionAdd]="true"
                              [actionDelete]="true"
                              [actionEdit]="true"
                              (edit)="employeesEdit($event)"
                              (delete)="employeesDelete($event)"
                              (create)="employeesCreate($event)">

                </custom-table>

                <custom-table *ngIf="currentAccount && !currentAccount.accessOk && !currentAccount.accessOit"
                              #employeeOnlyWithTypeWorkTable
                              [columns]="employeesOnlyWithTypeWorkColumns"
                              [source]="employeesSource"
                              [actionAdd]="false"
                              [actionDelete]="false"
                              [actionEdit]="true"
                              (edit)="employeesOnlyWithTypeWorkEdit($event)">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>