<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Сотрудники
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="postsLoading"></ngx-loading>
                <custom-table #postsTable
                              [columns]="postsColumns"
                              [source]="postsSource"
                              (edit)="postsEdit($event)"
                              (delete)="postsDelete($event)"
                              (create)="postsCreate($event)">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>