<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
    <div class="col-6">
        <nb-card>
            <nb-card-header>
                Ваши пароли
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="myPassLoading" ></ngx-loading>
                <custom-table #myPassTable
                              [columns]="myPassColumns"
                              [actions]="myPassActions"
                              [source]="myPassSource"
                              (action)="myPassAction($event)"
                              (edit)="myPassEdit($event)"
                              (delete)="myPassDelete($event)"
                              (create)="myPassCreate($event)">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-6">
        <nb-card>
            <nb-card-header>
                Расшаренные пароли
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="shareLoading" ></ngx-loading>
                <custom-table [columns]="shareColumns"
                              [actions]="shareActions"
                              [source]="shareSource"
                              (action)="myPassAction($event)"
                              [actionEdit]="false"
                              [actionDelete]="false"
                              [actionAdd]="false">
                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

