<toaster-container [toasterconfig]="config"></toaster-container>

<nb-card>
    <nb-card-header>
        <span>Фильтр</span>
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div [ngModel]="periodRadioModel" (change)="setPeriodRadioModel($event)" ngbRadioGroup
                             class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
                            <label ngbButtonLabel class="btn btn-outline-info">
                                <input ngbButton type="radio" [value]="TYPE_SELECTED_PERIOD_YEAR"> Выбрать год
                            </label>
                            <label ngbButtonLabel class="btn btn-outline-info">
                                <input ngbButton type="radio" [value]="TYPE_SELECTED_PERIOD_CUSTOM"> Задать дату вручную
                            </label>
                        </div>
                    </div>

                    <div class="col-12" style="margin-top: 15px;">
                        <p-dropdown *ngIf="periodRadioModel === TYPE_SELECTED_PERIOD_YEAR" [options]="years"
                                    [style]="{'width':'100%'}"
                                    [ngModel]="selectedYear"
                                    placeholder="Выберите год..."
                                    (onChange)="selectYear($event)"
                                    appendTo="body">
                        </p-dropdown>

                        <ngb-datepicker #dp *ngIf="periodRadioModel === TYPE_SELECTED_PERIOD_CUSTOM" (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
                        </ngb-datepicker>

                        <ng-template #t let-date="date" let-focused="focused">
                                  <span class="custom-day"
                                        [class.focused]="focused"
                                        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                  </span>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12" *ngIf="selectDepartments">
                        <div class="form-group">
                            <label>Подразделение:</label>
                            <div class="input-group">
                                <p-autoComplete [multiple]="multiSelectDepartment"
                                                [ngModel]="multiSelectDepartment
                                                ? filterModel.selectedDepartments
                                                : filterModel.selectedDepartment"
                                                [suggestions]="departmentsResult"
                                                (onSelect)="onSelectDepartment($event)"
                                                (onUnselect)="onUnSelectDepartment($event)"
                                                [inputStyle]="{'width': '100%'}"
                                                [style]="{'width': '100%'}"
                                                [delay]="1000"
                                                emptyMessage="Не найдено"
                                                placeholder="Введите текст для поиска"
                                                appendTo="body"
                                                field="abbreviatedName"
                                                (completeMethod)="searchDepartment($event)">
                                </p-autoComplete>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="selectEmployees">
                        <div class="form-group">
                            <label>Сотрудники:</label>
                            <div class="input-group">
                                <p-autoComplete [multiple]="true"
                                                [ngModel]="filterModel.selectedEmployees"
                                                [suggestions]="employeesResult"
                                                (onSelect)="onSelectEmployee($event)"
                                                (onUnselect)="onUnSelectEmployee($event)"
                                                [delay]="1000"
                                                [inputStyle]="{'width': '100%'}"
                                                [style]="{'width': '100%'}"
                                                emptyMessage="Не найдено"
                                                placeholder="Введите текст для поиска"
                                                appendTo="body"
                                                field="initials"
                                                (completeMethod)="searchEmployee($event)">
                                </p-autoComplete>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="selectPosts">
                        <div class="form-group">
                            <label>Должности:</label>
                            <div class="input-group">
                                <p-autoComplete [multiple]="true"
                                                [ngModel]="filterModel.selectedPosts"
                                                [suggestions]="postsResult"
                                                (onSelect)="onSelectPost($event)"
                                                (onUnselect)="onUnSelectPost($event)"
                                                [delay]="1000"
                                                [inputStyle]="{'width': '100%'}"
                                                [style]="{'width': '100%'}"
                                                emptyMessage="Не найдено"
                                                placeholder="Введите текст для поиска"
                                                appendTo="body"
                                                field="abbreviatedName"
                                                (completeMethod)="searchPost($event)">
                                </p-autoComplete>
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="selectTypeWork">
                        <div class="form-group">
                            <label>Вид работ: </label>
                            <p-autoComplete [multiple]="true"
                                            [ngModel]="filterModel.selectedTypeWorks"
                                            [suggestions]="typeWorksResult"
                                            (onSelect)="onSelectTypeWork($event)"
                                            (onUnselect)="onUnSelectTypeWork($event)"
                                            [delay]="1000"
                                            [inputStyle]="{'width': '100%'}"
                                            [style]="{'width': '100%'}"
                                            emptyMessage="Не найдено"
                                            placeholder="Введите текст для поиска"
                                            appendTo="body"
                                            field="name"
                                            (completeMethod)="searchTypeWork($event)">
                            </p-autoComplete>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12" *ngIf="calculateIntersections">
                        <nb-checkbox [(value)]="filterModel.calculateIntersections"
                                     (change)="onCalculateIntersections($event)">Считать пересечения
                        </nb-checkbox>
                    </div>

                    <div class="col-12" *ngIf="pipeCharts">
                        <nb-checkbox [(value)]="filterModel.pipeCharts"
                        (change)="onPipeCharts($event)">Процентное соотношение
                        </nb-checkbox>
                    </div>

                    <div class="col-12" *ngIf="selectAllDepartments">
                        <nb-checkbox [(value)]="filterModel.selectedAllDepartments"
                                     (change)="onSelectedAllDepartment($event)">Все подразделения
                        </nb-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button [disabled]="requireDepartments && !(filterModel &&
                        (filterModel.selectedDepartment ||
                        ((filterModel.selectedDepartments && filterModel.selectedDepartments.length) > 0 || filterModel.selectedAllDepartments)) &&
                        filterModel.from && filterModel.to)"
                class="btn btn-success" type="submit"
                (click)="generateReport()">{{ actionTitle }}</button>
    </nb-card-footer>
</nb-card>