<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span>История реестров с талонами</span>
                <button *ngIf="getCurrentAccount() && canWriteTicketRegister()"
                        class="btn btn-primary" type="button"
                        (click)="openCreateRegisterModal()"
                        nbPopover="Добавить реест с талонами для всех счетов"
                        nbPopoverMode="hint"
                        nbPopoverPlacement="left">
                    Добавить реест
                </button>
            </nb-card-header>

            <nb-card-body>
                <ngx-loading [show]="loadingRegisters" ></ngx-loading>
                <custom-table #customTable [columns]="columns" [source]="source" [actions]="actions"
                              [actionAdd]="true" [actionDelete]="getCurrentAccount() && canWriteTicketRegister()" [actionEdit]="false"
                              (delete)="delete($event)" (create)="create($event)" (action)="action($event)">
                </custom-table>
            </nb-card-body>

        </nb-card>

    </div>
</div>

<ng-template #generateReportModalElement let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Настройки для формирование отчета</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label for="executeTime" class="col-sm-3 col-form-label">Время обработки</label>
            <div class="col-sm-9">
                <input type="datetime-local" class="form-control" id="executeTime"
                       placeholder="Время выполнения" [disabled]="!isInTime"
                       [ngModel]="inTime | date: 'yyyy-MM-ddTHH:mm:ss'"
                       (ngModelChange)="inTime = $event">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="gridRadios" [checked]="isInTime" (change)="onChangeHeader()">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Обработка файла по времени</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="gridRadios" [checked]="!isInTime" (change)="onChangeHeader()">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Моментальная обработка файла</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="d('Cross click')">Отмена</button>
        <button type="submit" class="btn btn-hero-success" (click)="generateReportAndSend()">Сформировать</button>
    </div>
</ng-template>

<ng-template #createRegisterModalElement let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Добавление нового реестра</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="createRegisterSubmit()" [formGroup]="createRegisterForm">
            <div class="form-group row">
                <label for="countTickets" class="col-sm-3 col-form-label">Количество талонов</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="countTickets"
                           value="0"
                           formControlName="countTickets"
                           placeholder="Количество талонов">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9">
                    <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="DR" formControlName="type" checked>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Зачисление</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="CR" formControlName="type">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Списание</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="ZR" formControlName="type">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Обнуление</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" (click)="d('Cross click')">Отмена</button>
                <button type="submit" class="btn btn-hero-success" [disabled]="!createRegisterForm.valid">Создать</button>
            </div>
        </form>
    </div>
</ng-template>