<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span>Персональные документы</span>
            </nb-card-header>

            <nb-card-body>
                <custom-table #personalDocumentTable
                              [columns]="personalDocumentColumns"
                              [source]="personalDocumentDataSource"
                              [actionAdd]="false">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>