<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span>Взыскания</span>
            </nb-card-header>

            <nb-card-body>
                <custom-table #punishmentTable
                              [actionEdit]="false"
                              [actionDelete]="false"
                              [columns]="punishmentColumns"
                              [source]="punishmentDataSource"
                              [actionAdd]="false">

                </custom-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>