<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header primary-color white-text">Парольные репозитории</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="clickable-row">
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <nav class="d-flex justify-content-center my-4 mx-auto text-center">
                                <ul class="pagination pagination-circle pg-blue mb-0 text-center">

                                    <!--First-->
                                    <li class="page-item">
                                        <a class="page-link" mdbWavesEffect>⇤</a>
                                    </li>

                                    <li #prev class="page-item">
                                        <button type="button" class="page-link" mdbWavesEffect
                                                aria-label="Previous">←
                                        </button>
                                    </li>


                                    <li class="page-item paginator active">
                                    <span>
                                        <a class="page-link" mdbWavesEffect>1</a>
                                    </span>
                                    </li>


                                    <li #next class="page-item">
                                        <button class="page-link" mdbWavesEffect aria-label="Next">→
                                        </button>
                                    </li>

                                    <!--Last-->
                                    <li class="page-item">
                                        <a class="page-link" mdbWavesEffect>⇥</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="clear: both;"></div>
</div>
